<?xml version="1.0" encoding="utf-8"?>
<Root>
  <ConfigObject>
    <UserName></UserName>
    <FilesPatternProgress>*.p,*.i,*.w,*.t,*.cls,*.dbg,*.df</FilesPatternProgress>
    <FilesPatternNppOpenable>*.txt,*.bat,*.sh,*.cmd,*.html,*.xml,*.py,*.pyw,*.h,*.css</FilesPatternNppOpenable>
    <GlobalHelpFilePath></GlobalHelpFilePath>
    <NeverUseProwinInBatchMode>False</NeverUseProwinInBatchMode>
    <UseDefaultValuesInsteadOfLastValuesInEditTags>False</UseDefaultValuesInsteadOfLastValuesInEditTags>
    <CompileAlwaysShowNotification>True</CompileAlwaysShowNotification>
    <AppliAllowTabAnimation>True</AppliAllowTabAnimation>
    <ShowTreeBranches>False</ShowTreeBranches>
    <GlobalShowDetailedHelpForErrors>True</GlobalShowDetailedHelpForErrors>
    <InstallStep>2</InstallStep>
    <NppOutdatedVersion>False</NppOutdatedVersion>
    <FilesPatternCompilable>*.p,*.w,*.t,*.cls</FilesPatternCompilable>
    <CompileForceUseOfTemp>False</CompileForceUseOfTemp>
    <CompileWithDebugList>False</CompileWithDebugList>
    <CompileWithXref>False</CompileWithXref>
    <CompileWithListing>False</CompileWithListing>
    <CompileUseXmlXref>False</CompileUseXmlXref>
    <CompileDirectoriesHistoric></CompileDirectoriesHistoric>
    <CurrentDeployProfile></CurrentDeployProfile>
    <UserGetsPreReleases>False</UserGetsPreReleases>
    <GlobalDontCheckUpdates>False</GlobalDontCheckUpdates>
    <GlobalDontCheckProlintUpdates>False</GlobalDontCheckProlintUpdates>
    <WebUseProxy>False</WebUseProxy>
    <WebProxyUri></WebProxyUri>
    <WebProxyUsername></WebProxyUsername>
    <WebProxyPassword></WebProxyPassword>
    <DebugReleasesApi></DebugReleasesApi>
    <AutoCompleteOnKeyInputShowSuggestions>True</AutoCompleteOnKeyInputShowSuggestions>
    <AutoCompleteStartShowingListAfterXChar>1</AutoCompleteStartShowingListAfterXChar>
    <AutoCompleteOnKeyInputHideIfEmpty>True</AutoCompleteOnKeyInputHideIfEmpty>
    <AutoCompleteShowChildrenAfterSeparator>True</AutoCompleteShowChildrenAfterSeparator>
    <AutoCompleteUseTabToAccept>True</AutoCompleteUseTabToAccept>
    <AutoCompleteUseEnterToAccept>False</AutoCompleteUseEnterToAccept>
    <AutoCompleteUnfocusedOpacity>0.92</AutoCompleteUnfocusedOpacity>
    <AutoCompleteFocusedOpacity>0.92</AutoCompleteFocusedOpacity>
    <AutoCompleteShowInCommentsAndStrings>False</AutoCompleteShowInCommentsAndStrings>
    <AutoCompleteInsertSelectedSuggestionOnWordEnd>True</AutoCompleteInsertSelectedSuggestionOnWordEnd>
    <AutoCompleteAutoCase>True</AutoCompleteAutoCase>
    <AutoCompleteKeywordCaseMode>0</AutoCompleteKeywordCaseMode>
    <AutoCompleteDatabaseWordCaseMode>0</AutoCompleteDatabaseWordCaseMode>
    <AutoCompleteReplaceAbbreviations>True</AutoCompleteReplaceAbbreviations>
    <AutoCompleteReplaceSemicolon>True</AutoCompleteReplaceSemicolon>
    <AutoCompleteOnlyShowDefinedVar>True</AutoCompleteOnlyShowDefinedVar>
    <AutoCompleteShowListOfXSuggestions>12</AutoCompleteShowListOfXSuggestions>
    <AutoCompleteWidth>310</AutoCompleteWidth>
    <AutoCompleteNeverAskToDisableDefault>False</AutoCompleteNeverAskToDisableDefault>
    <AutoCompleteItemPriorityList>0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20</AutoCompleteItemPriorityList>
    <NppAutoCompleteMaxLengthToParse>5000000</NppAutoCompleteMaxLengthToParse>
    <NppAutoCompleteIgnoreNumbers>False</NppAutoCompleteIgnoreNumbers>
    <NppAutoCompleteInsertSelectedSuggestionOnWordEnd>False</NppAutoCompleteInsertSelectedSuggestionOnWordEnd>
    <NppAutoCompleteAutoCase>False</NppAutoCompleteAutoCase>
    <NppAutoCompleteMinWordLengthRequired>2</NppAutoCompleteMinWordLengthRequired>
    <NppAutoCompleteFilterCaseMode>0</NppAutoCompleteFilterCaseMode>
    <NppAutoCompleteParserCaseMode>1</NppAutoCompleteParserCaseMode>
    <GlobalMaxNbCharInBlock>31190</GlobalMaxNbCharInBlock>
    <CodeTabSpaceNb>4</CodeTabSpaceNb>
    <CodeShowSpaces>True</CodeShowSpaces>
    <DisablePrototypeAutoUpdate>False</DisablePrototypeAutoUpdate>
    <DisplayParserErrorsOnSave>True</DisplayParserErrorsOnSave>
    <NormedVariablesPrefixes></NormedVariablesPrefixes>
    <FileExplorerVisible>False</FileExplorerVisible>
    <FileExplorerIgnoreUnixHiddenFolders>True</FileExplorerIgnoreUnixHiddenFolders>
    <FileExplorerAutoHideOnNonProgressFile>False</FileExplorerAutoHideOnNonProgressFile>
    <FileExplorerListFilesTimeOutInMs>3000</FileExplorerListFilesTimeOutInMs>
    <FileExplorerDirectoriesToExplore>0</FileExplorerDirectoriesToExplore>
    <CodeExplorerVisible>False</CodeExplorerVisible>
    <CodeExplorerItemPriorityList></CodeExplorerItemPriorityList>
    <CodeExplorerDisplayPersistentItems>False</CodeExplorerDisplayPersistentItems>
    <CodeExplorerDisplayItemsFromInclude>True</CodeExplorerDisplayItemsFromInclude>
    <CodeExplorerAutoHideOnNonProgressFile>False</CodeExplorerAutoHideOnNonProgressFile>
    <CodeExplorerSortingType>0</CodeExplorerSortingType>
    <ToolTipDeactivate>False</ToolTipDeactivate>
    <ToolTipmsBeforeShowing>500</ToolTipmsBeforeShowing>
    <ToolTipOpacity>0.92</ToolTipOpacity>
    <AutoSwitchEncodingForFilePatterns></AutoSwitchEncodingForFilePatterns>
    <AutoSwitchEncodingTo>0</AutoSwitchEncodingTo>
    <ExternalDirectoryPathForDataDiggerInstallation></ExternalDirectoryPathForDataDiggerInstallation>
    <NppStoppedCorrectly>True</NppStoppedCorrectly>
    <SharedConfFolder></SharedConfFolder>
    <AutoUpdateConfList></AutoUpdateConfList>
    <SharedConfHistoric></SharedConfHistoric>
    <EnvLastDbInfoUsed></EnvLastDbInfoUsed>
    <EnvName>Default</EnvName>
    <EnvSuffix></EnvSuffix>
    <TechnicalLastPing></TechnicalLastPing>
    <TechnicalMyUuid>becbd915-cfbe-4abd-a1e2-f49c02ca5988</TechnicalMyUuid>
    <TechnicalLastWebserviceCallOk>True</TechnicalLastWebserviceCallOk>
    <ThemeId>1</ThemeId>
    <AccentColor>#F0A30A</AccentColor>
    <SyntaxHighlightThemeId>0</SyntaxHighlightThemeId>
    <DicoShortCuts>
      <ShortCuts>
        <Key>Show_main_menu_</Key>
        <Value>Alt+C</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Pro_desktop</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Send_appbuilder</Key>
        <Value>Alt+O</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Prolint</Key>
        <Value>F12</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Deploy</Key>
        <Value>Ctrl+Alt+Prior</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Generate_debug-list</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Generate_listing</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Generate_xref</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Generate_xrefxml</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Insert_new_procedure</Key>
        <Value>Alt+P</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Insert_new_function</Key>
        <Value>Alt+F</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Delete_procedure</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Delete_function</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Synchronize_prototypes</Key>
        <Value>Alt+S</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Check_parser_errors</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Toggle_Comment</Key>
        <Value>Ctrl+Q</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Reindent_document</Key>
        <Value>Ctrl+I</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Edit_file_info</Key>
        <Value>Ctrl+Shift+M</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Insert_title_block</Key>
        <Value>Ctrl+Alt+M</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Modif_tags</Key>
        <Value>Ctrl+M</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Data_admin</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Data_dictionary</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Data_digger</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Data_reader</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Go_To_Definition</Key>
        <Value>Ctrl+B</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Go_Backwards</Key>
        <Value>Ctrl+Shift+B</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Open_main_window</Key>
        <Value>Alt+Space</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Show_Suggestion_List</Key>
        <Value>Ctrl+Space</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Read_as_progress</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Open_4GL_help</Key>
        <Value>F1</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Check_syntax</Key>
        <Value>Shift+F1</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Run_program</Key>
        <Value>Ctrl+F1</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Compile</Key>
        <Value>Alt+F1</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Compile_options</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Progress_tools</Key>
        <Value>Alt+T</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Search_file</Key>
        <Value>Alt+Q</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Switch_env</Key>
        <Value>Ctrl+E</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>DatabaseTools</Key>
        <Value>Alt+D</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Generate_code</Key>
        <Value>Alt+Insert</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Edit_code</Key>
        <Value>Alt+E</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Modification_tag</Key>
        <Value>Alt+M</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Go_to_options</Key>
        <Value></Value>
      </ShortCuts>
    </DicoShortCuts>
    <DicoLastCallDateTime>
      <LastCallDateTime>
        <Key>Ping</Key>
        <Value>2024-03-23 07:21:46</Value>
      </LastCallDateTime>
      <LastCallDateTime>
        <Key>3Pupdate</Key>
        <Value>2024-03-23 07:22:18</Value>
      </LastCallDateTime>
    </DicoLastCallDateTime>
    <DicoProgressFileExeptions />
  </ConfigObject>
</Root>